:root {
  --c-blue-dark: rgb(0, 44, 58);
  --c-blue-light: rgb(0, 173, 226);
  --c-white: rgb(255, 255, 255);
  --c-grey: slategrey;
  --c-feature: rgb(252, 143, 18);
}

body {
  font-family: 'Ubuntu', sans-serif;
  color: var(--c-grey);
}

.text-title {
  text-transform: uppercase;
  font-size: 30px;
  margin: 5vh auto;

}

.text-blue {
  color: var(--c-blue-dark);
}

.text-bright {
  color: var(--c-blue-light);
}