:root {
  --c-blue-dark: rgb(0, 44, 58);
  --c-blue-light: rgb(0, 173, 226);
  --c-white: rgb(255, 255, 255);
  --c-grey: slategrey;
  --c-feature: rgb(252, 143, 18);
}

body {
  font-family: 'Ubuntu', sans-serif;
  color: var(--c-grey);
}

.text-title {
  text-transform: capitalize;
  margin: 5vh auto;

}

.text-blue {
  color: var(--c-blue-dark);
}

.text-bright {
  color: var(--c-blue-light);
}

.text-feature {
  color: var(--c-feature);

}

.btn-increment, .btn-increment-count {
  border: 1px solid var(--c-blue-light);
  color: var(--c-blue-light);
  border-radius: 3px;
  padding: 5px 12px;
  font-weight: bold;
  transition: all 0.3s ease;
}

.btn-increment:hover {
  cursor: pointer;
  color: var(--c-blue-dark);
  border: 1px solid var(--c-blue-dark);
  background-color: var(--c-blue-light);
}

.cart-icon {
  cursor: pointer;
  font-size: 1.2rem;
  color: var(--c-feature);
}